*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container-1, .container-2, .container-3{
    height: 100vh;
    position: relative;    
}
.container-1{
    background-color: blue;
}
.container-2{
    background-color: cornsilk;
}
.container-3{
    background-color: lightblue;  
}
.contained{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
}
